<header class="page-header">
  <p>
    <%= link_to('â† voltar', shops_url) %>
  </p>
  <h3>Adicionar Loja</h3>
</header>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= render 'form' %>
  </div>
</div>
