<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <p><%= t :body, scope: [:errors, :template] %></p>
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
