<% unless flash.empty? %>
  <div class="row">
    <% for key, msg in flash %>
    <% key = 'success' if key  == 'notice' %>
    <% key = 'danger' if key  == 'error' %>
    <div class="col mt-3">
      <div class="alert alert-<%= key %>" role="<%= key %>">
        <%= msg %>
      </div>
    <% end %>
    </div>
  </div>
<% end %>
