@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
.logo-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    line-height: 1em;
    letter-spacing: 0.02em;
}

.bg-vnda {
  background: rgb(248, 141, 91) none repeat scroll 0% 0%;
}

.event-icon-muted {
  color: #b9c5cf !important
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
.logo-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    line-height: 1em;
    letter-spacing: 0.02em;
}
