.text-center {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
.logo-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    line-height: 1em;
    letter-spacing: 0.02em;
}
